/* navbar */
.navbar {
    font-family: Roboto;
    padding: 20px;
}

.contact p {
  color: white;
  font-size: 18px;
}

.contact img  {
  height: auto;
  max-width: 6%;
}
.card {
    margin-top: 30px;
}


footer {
    padding: 15px;
     color: black;
     background-color: white;
     font-weight: bold;
}

/* footer */

footer p {
    color: #acacac;
    line-height: 15px;
    margin: 5px;
    text-align: center;
}

.footer-top {
    background-color: #111;
    padding: 80px 0;
}

.segment-one p {
    font-family: Courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-one h2 {
    font-family: Courgette;
    color: #fff;
    letter-spacing: 1px;
    margin: 0px;
}

.segment-one h2:before {
  content: '🕉';
}

.segment-two {
    margin-bottom: 30px;
}

.segment-two h3 {
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
}

.segment-two h3:before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 50px;
}

.segemnt-two ul li a {
    text-decoration: none;
    color: #999;
}

.segment-three h3 {
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
}

.segment-three h3:before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-three li {
    margin-top: 10px;
    line-height: 30px;
    list-style: none;
    color: white;
}

main {
  padding: 30px;
  overflow: auto;
}

section a {
  color: #acacac;
  transition: .5s;
}

section a:hover {
  text-decoration: none;
  color: black;
}

section ul {
  display: flex;
  margin-right: 10px;
}

.ulSection {
  margin: 10px;
}

section li {
  display: flex;
  margin-right: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px;
}

.featured-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 500px;
}

.profile img {
  width: 50%;
}

.kategori-list figure {
  text-align: center;
}

figure img {
  width: 100px;
}

.kategori-list h3 {
  text-align: center;
}

.kategori-list ul li {
  color: green;
  text-decoration: none;
}

.kategori-list a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

aside {
  padding-left: 25px;
  float: right;
  width: 25%;
}

#content {
  width: 75%;
  float: left;
}

.dupa-index {
  padding: 10px;
}

.media-body a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.media-body a:hover {
  color: blue;
}

.media-body h5 {
  text-decoration: underline;
}

@media screen and (max-width:1050px) {
  main,
  #content,
  aside {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  section ul {
    display: none;
  }

  section h1 {
    padding: 0;
  }

  section img {
    padding: 10px;
  }

  .imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
  }
}

@media screen and (max-width:1050px) {
  .segment-one h2 {

    margin: 0;
  }
}
