/* navbar */
.navbar {
    font-family: Roboto;
}

.navbar-nav {
    font-weight: 100;
}

/* info panel */
.info-panel {
    margin-top: 20px;
    margin-bottom: 20px;
}







/* footer */

footer p {
    color: #acacac;
    line-height: 25px;
}

footer h2,
h3 {
    color: #fff;
}

h2 {
    font-size: 18px;
}

.footer-top {
    background-color: #111;
    padding: 80px 0;
}

.segment-one {
    font-family: Courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-two {
    margin-bottom: 30px;
}

.segment-two h3 {
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
}

.segment-two h3:before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}

.segemnt-two ul li a {
    text-decoration: none;
    color: #999;
}

.segment-three h2 {
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
}

.segment-three h2:before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

/* desktop */
@media (min-width: 992px) {
    .navbar {
        z-index: 1;
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .navbar-brand,
    .nav-link {
        color: black !important;
    }
}
