	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:18
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-architect-with-helmet:before { content: "\f100"; }
.flaticon-archive-boy:before { content: "\f101"; }
.flaticon-bald-man-with-glasses:before { content: "\f102"; }
.flaticon-brain-storming:before { content: "\f103"; }
.flaticon-business-deal:before { content: "\f104"; }
.flaticon-car-battery-charging:before { content: "\f105"; }
.flaticon-car-lift:before { content: "\f106"; }
.flaticon-ceo-office:before { content: "\f107"; }
.flaticon-check-engine:before { content: "\f108"; }
.flaticon-check-the-flue-gas:before { content: "\f109"; }
.flaticon-chemical-man:before { content: "\f10a"; }
.flaticon-cleaning-service:before { content: "\f10b"; }
.flaticon-coffee-break:before { content: "\f10c"; }
.flaticon-crushing-ground:before { content: "\f10d"; }
.flaticon-customer-service:before { content: "\f10e"; }
.flaticon-diorama-maker:before { content: "\f10f"; }
.flaticon-drilling-wall:before { content: "\f110"; }
.flaticon-driving-test:before { content: "\f111"; }
.flaticon-engraver:before { content: "\f112"; }
.flaticon-foreman-with-helmet:before { content: "\f113"; }
.flaticon-garage-owner:before { content: "\f114"; }
.flaticon-man-doing-origami:before { content: "\f115"; }
.flaticon-man-with-hammer:before { content: "\f116"; }
.flaticon-manager-with-tie:before { content: "\f117"; }
.flaticon-measure-the-slope:before { content: "\f118"; }
.flaticon-mechanic-with-cap:before { content: "\f119"; }
.flaticon-meeting-explain:before { content: "\f11a"; }
.flaticon-office-boy:before { content: "\f11b"; }
.flaticon-outdoor-worker:before { content: "\f11c"; }
.flaticon-painter-with-beret-and-canvas:before { content: "\f11d"; }
.flaticon-painter-with-helmet:before { content: "\f11e"; }
.flaticon-pantomime:before { content: "\f11f"; }
.flaticon-photocopy-boy:before { content: "\f120"; }
.flaticon-photographer-with-cap-and-glasses:before { content: "\f121"; }
.flaticon-poetry-reading:before { content: "\f122"; }
.flaticon-pottery-man:before { content: "\f123"; }
.flaticon-preparing-meeting:before { content: "\f124"; }
.flaticon-pulley-machine:before { content: "\f125"; }
.flaticon-push-trolley:before { content: "\f126"; }
.flaticon-replace-tire:before { content: "\f127"; }
.flaticon-sending-cement:before { content: "\f128"; }
.flaticon-sending-pipe:before { content: "\f129"; }
.flaticon-sign-contractor:before { content: "\f12a"; }
.flaticon-signing-letters:before { content: "\f12b"; }
.flaticon-string-puppet-show:before { content: "\f12c"; }
.flaticon-team-work:before { content: "\f12d"; }
.flaticon-weld:before { content: "\f12e"; }
.flaticon-wood-saw:before { content: "\f12f"; }
.flaticon-worker-with-palette:before { content: "\f130"; }